@import 'base.css';

body {padding:2rem; text-align:center;}

.box {background-color:#f90; padding:1rem; margin:auto; height:100px; overflow:auto;}

#box2 {width:100px; height:100px; margin:0;}

.test {width:50%;}