@import 'base.css';

/* 2019.01.09 */
.box {width:100px; height:100px; background-color:beige; border:2px solid #ff0;}

/* 2019.01.10 */
.box2 {max-width:1200px; margin:50px auto;}
.box2 > div {width:80px; height:80px; line-height:80px; text-align:center; border:1px solid #f90; background-color:#999; color:#fff; font-size:1.5rem; float:left;}