@import 'base.css';

.boxes {border:10px solid rgb(41, 163, 41); padding:2%;}
.box {width:100px; height:100px; border:10px solid rgb(150, 45, 45); background-color: bisque;}
.bts {margin-top:2rem; text-align:center;}
