@import 'base.css';

.boxes {border:10px solid rgb(41, 163, 41); padding:2%;}
#box1 {width:20px; height:20px; border:10px solid rgb(150, 45, 45); background-color: bisque; position: absolute; top:100px; left:100px;}
.in_box {border:5px solid #00f; width:50px; height:50px; position: absolute; top:10px; left:10px;}
.bts {margin-top:2rem; text-align:center;}
