@import 'base.css';
.box1 {width:600px; height:600px; background-color: rgb(110, 71, 24)}
.box2 {width:400px; height:400px; background-color: rgb(138, 163, 25)}
.box3 {width:200px; height:200px; background-color: rgb(31, 168, 202)}