@import 'base.css';
a, a:hover, a:link {text-decoration: none;}
.page {width:100%; height:100%; position: relative; padding-top:5%;}
.page > div {color:#000; font-size:2rem;}
#navs {width:98%; top:1%; left:1%; position:fixed; z-index:999;}
#box1 {background-color: blanchedalmond;}
#box2 {background-color: cadetblue;}
#box3 {background-color: darkkhaki;}
#box4 {background-color: darkorange;}
#box5 {background-color: deepskyblue;}

.wrap {width:100%; max-width:800px; margin:auto;}
.title {text-align:center; font-size:2rem;}
.summary {text-align:center; font-size:1.25rem; color:#666; margin:1rem 0;}
.cities {font-size:0.875rem;}
.city {float:left; width:32%; padding:0.75em; background-color: #fff;}
.city:nth-child(2) {margin:0 2%;}
.city_name {margin:0.5em; font-size:1.125em;}
.city_day {margin:0.5em; font-size:1em;}
.city_cont {margin:0.5em; font-size:0.875em;}
/*
.city:nth-child(1) {animation-name:leftAni; animation-duration:0.5s; animation-fill-mode:forwards; opacity:0;}
.city:nth-child(2) {animation-name:scaleAni; animation-duration:0.5s; animation-fill-mode:forwards; opacity:0;}
.city:nth-child(3) {animation-name:rightAni; animation-duration:0.5s; animation-fill-mode:forwards; opacity:0;}
*/

@keyframes leftAni {
	0% {transform:translateX(-200px); opacity:0;}
	50% {opacity:1;}
	100% {transform:translateX(0); opacity:1;}
}
@keyframes rightAni {
	0% {transform:translateX(200px); opacity:0;}
	50% {opacity:1;}
	100% {transform:translateX(0); opacity:1;}
}
@keyframes topAni {
	0% {transform:translateY(-200px); opacity:0;}
	50% {opacity:1;}
	100% {transform:translateY(0); opacity:1;}
}
@keyframes bottomAni {
	0% {transform:translateY(200px); opacity:0;}
	50% {opacity:1;}
	100% {transform:translateY(0); opacity:1;}
}
@keyframes opaAni {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes scaleAni {
	0% {transform:scale(1.5); opacity:0;}
	50% {opacity:1;}
	100% {transform:scale(1); opacity:1;}
}


