@import 'base.css';
.box {width: 20px; height: 20px; border: 2px solid #f00; padding: 2px; 
	/* animation-name: bgAni; */ animation-duration: 1s; /* animation-delay: 3s; */ animation-fill-mode: forwards; float: left;}

@keyframes bgAni {
	0% {background-color: #ff0;}
	100% {background-color: #f00;}
}
@keyframes bgAniBack {
	0% {background-color: #f00;}
	100% {background-color: #ff0;}
}